
.adminButtons{
    text-align :right ;
}

#indexImage{
    max-height :150px;
    max-width :250px;
}

#detailsImage{
    max-height :200px;
    max-width :300px;
}

#adminImage{
    max-height :100px;
    max-width :200px;
}

body{
    background-color:cadetblue;
    color:beige;
}

.text-info{
    color:#0e25a8;
}

.text-danger{
    color:#cc0909;
}

h1, h2, h3, h4, h5, h6 {
    color: palegoldenrod;
}

.section-subheading{
    color:beige;
}

#admintext{
    color:black;
}

hr{
    border-color:palegoldenrod;
}