
<section id="services">
    <div class="container">
        <div class="span text-center">
        <div class="col-lg-12">
            <img src="~/img/lg_aspmvc5.png" />
        </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading">
                    This blog has been created using MVC, Razor, HTML,Bootstrap, and jQuery. The database has
                    been constructed using the Code-First model and I have implemented individual user authentication.
                    The main page will show any user a small summary of each Blog post as well as a link to access
                    all details from each post. If you would like to leave comments you must either Register or
                    use the implemented 3rd Party Logins which are Facebook, Google, Microsoft, and LinkedIn.
                    Feel free to leave a comment or head over to the Contact page to send me a message. 
                    Thanks for visiting! Check out my GitHub Repository for this project here:
                    <a href="https://github.com/cdrose15/Blog"target="_blank"><i class="fa fa-github"></i></a>
                </h3>
            </div>
        </div>
    </div>
</section>